.gravatar {
    border: 10px solid #eee;
}

.gravatar.online {
    border-color: #c7e6c7;
}

.footer {
    margin-top: 15px;
}

.icon {
    padding: 0;
    margin: 0;
    color: black;
}

.icon:hover {
    text-decoration: none;
    color: #333;
}

.icon-white {
    color: white;
}

.icon-white:hover {
    color: #eee;
}

.media-body {
    padding: 5px;
}

html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -50px;
}

.push,
footer {
  height: 50px;
}
